#anketa {
    overflow: hidden;
}


div.respondent {
  position: relative;
  width: 300px;
  height: 425px;
  padding: 10px 10px 0px 10px;
  margin: 10px 20px 20px 20px;
  float: left;
  border-bottom: thin dotted lightgrey;
}

.vybrany {
  background-color: #F0F0F0;
}

h2.jmeno {
  margin-top: 5px !important;
  margin-bottom: 3px !important;
  padding-left: 10px;
  background-color: black;
  color: white;
}

p.veta {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  color: black;
}

img.portret {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 50%;

}

div.cedulka {
  width: 300px;
  text-align: center;
  background-color: #606060;
  color: white;
  margin: -10px -10px 0px -10px;
  padding: 5px 0px 5px 0px;
  z-index: 10;
  position: absolute;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
}